.project-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    margin: 20px;
}

.card-display {
    container-type: size;
}


@container (max-width: 480px) {
    .card-display {
        display: flex;
        flex-direction: column
    }
}

#navbar {
    display: flex;
    gap: 10px
}

#main {
    display: flex;
    align-items: center;
    flex-direction: column
}

#main-content {
    display: flex;
    flex-direction: column
}

#headshot {
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    flex-grow: 1
}